/* .navbar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.navbar > * {
    text-decoration: none;
    color: rgb(25, 175, 175);
    margin: auto 1.5rem;
    font-size: 1.5rem;
}

.navbar  > *:hover {
    color: teal
} */
