a {
    text-decoration: none;
    color: #2b5d84
}

a:hover {
    color: #0f202d
}

.footer-container {
    height: 20rem;
    background-color: rgb(217, 225, 225);
}

.footer-link {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
}

.footer-link > * {
    margin-left: 2rem;
    text-decoration: none;
}

.copyright {
    text-align: center;
}